body{
  background-color: rgb(46, 45, 45) !important;
}

.ul-proyec{
  margin: 30px;
}

.ul-proyec li{
  width: 80%;
}

.row{
  background-color: rgb(44, 44, 43);
}

.contacto{
  margin: 30px;
}

#nombre{
  color: aliceblue;
}
#perfil{
    border-radius: 10px;
}
.link{
  text-decoration: none;
}

#nav-link:hover{
  color: rgb(115, 121, 121);
  font-style: italic;  
}
#descarga{
  text-decoration: none;
}

#texto{
  text-justify: auto;
  text-align: justify;
}
#contenedor{
  background-color: rgb(44, 44, 43);
  border-radius: 10px;
}

#email{
  background-color: rgb(70, 70, 70);
  color: aliceblue;
}
#name{
  background-color: rgb(70, 70, 70);
  color: aliceblue;
}
#comen{
  height: 100px;
  background-color: rgb(70, 70, 70);
  color: aliceblue;
}
